/* 
    Document   : frame.css
    Created on : Nov 8, 2012, 8:35:41 AM
    Author     : ptarrant
    Description:
        Base styles used for Phils Framework.
        Override them instead of editing this file.
*/

/*Phils basic styles*/
.center {text-align:center;}
.left {text-align:left;}
.right {text-align:right;}
.justify {text-align:justify;}
.rounded {-moz-border-radius: 5px;-webkit-border-radius:5px;border-radius:5px;border:3px solid black;padding:5px;}
.shadowed {text-shadow: black 0.1em 0.1em 0.2em;}
.noborder, .noborder tr, .noborder th, .noborder td { border: none; }

/* pretty messages */
.info,.alert,.valid,.warning	{border: 1px solid black; -mox-border-radius: 5px; -webkit-border-radius:5px;padding:15px 10px 15px 50px;background-repeat:no-repeat;background-position:10px center; margin:0 auto;margin-bottom:10px;margin-top:10px;}
.info				{color:#059;background-color:#bef;background-image:url('images/info.png');background-position: left top;}
.info a				{color:#00f;}
.alert				{color:#f00;background-color:#fbb;background-image:url('images/alert.png');background-position: 10px 10px;}
.alert a			{color:#f00;text-decoration:underline;}
.valid				{color:#481;background-color:#dfb;background-image:url('images/valid.png');background-position: 10px 10px;}
.valid a			{color:#0f0;text-decoration:underline;}
.warning			{color:#960;background-color:#feb;background-image:url('images/attention.png');background-position: 10px 10px;}
.warning a			{color:#f60;text-decoration:underline;}

/*404 template*/
#phils404 {margin-top:50px;}
#phils404 h1 {font-size:32px;}
#phils404 h2 {font-size:25px;}
#phils404 p  {line-height: 2em;}
#phils404 large  {font-size:32px;}

/*framework debugging stuff*/
#debug     {width:960px; margin:0 auto;}
#debug table,th,td {border:1px solid black;}
#debug th       {height: 25px;background:black;color:white;}
#debug td       {padding:5px;}
#debug caption  {margin-top:25px;text-align: center;font-size:20px;padding:5px;color:red;background:#ccc;border:5px solid black;}

/*Table Odd Rows*/
.odd        {background:#ccc;}

/*Form Styles*/
form {font:bold 14px georgia;text-decoration: none;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;padding:10px;border: 1px solid #999;background:#eee;}
form h1 {text-align:center;padding:5px 0px 10px;}
input {display:block;border: 1px solid #999;height: 25px;padding:2px;margin:5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border: 1px solid #999;}
textarea {display:block;}
/*input.button {width:100px;font:bold 14px georgia;height:30px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border: 1px solid #999;}*/
input.button:hover {background:#fff;}

/*Login Form*/
#login{width:350px;margin: 0 auto;}
#login input {width:200px; margin:10px auto;}
#login label {text-align:center;display:block;}

/*Button*/
.button, .button > a{
    padding:10px 15px !important;
    text-align:center;
    background:#08C;
    color:#fff;
    border:solid 1px #258;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    height:40px;
}
.button, .button > a:hover{
    background: #FFF;
    border: solid 1px #2A4E77;
    color:#000;
    text-decoration: none;
}

.footer{
height: 50px;
text-align:center;
}
