/* 
    Document   : frame.css
    Created on : Nov 8, 2012, 8:35:41 AM
    Author     : ptarrant
    Description:
        Base styles used for Phils Framework.
        Override them instead of editing this file.
*/

/*Phils basic styles*/
.center {text-align:center;}
.left {text-align:left;}
.right {text-align:right;}
.justify {text-align:justify;}
.rounded {-moz-border-radius: 5px;-webkit-border-radius:5px;border-radius:5px;border:3px solid black;padding:5px;}
.shadowed {text-shadow: black 0.1em 0.1em 0.2em;}
.noborder, .noborder tr, .noborder th, .noborder td { border: none; }

/* pretty messages */
.info,.alert,.valid,.warning	{min-height:25px;border: 1px solid black; -mox-border-radius: 5px; -webkit-border-radius:5px;padding:15px 10px 15px 50px;background-repeat:no-repeat;background-position:10px center; }
.info				{color:#059;background-color:#bef;background-image:url('images/info.png');background-position: 10px 10px;}
.info a				{color:#00f;}
.alert				{color:#f00;background-color:#fbb;background-image:url('images/alert.png');background-position: 10px 10px;}
.alert a			{color:#f00;text-decoration:underline;}
.valid				{color:#481;background-color:#dfb;background-image:url('images/valid.png');background-position: 10px 10px;}
.valid a			{color:#0f0;text-decoration:underline;}
.warning			{color:#960;background-color:#feb;background-image:url('images/attention.png');background-position: 10px 10px;}
.warning a			{color:#f60;text-decoration:underline;}

/*404 template*/
#phils404 {margin-top:50px;}
#phils404 h1 {font-size:32px;}
#phils404 h2 {font-size:25px;}
#phils404 p  {line-height: 2em;}
#phils404 large  {font-size:32px;}

/*framework debugging stuff*/
#debug     {width:960px; margin:0 auto;}
#debug table,th,td {border:1px solid black;}
#debug th       {height: 25px;background:black;color:white;}
#debug td       {padding:5px;}
#debug caption  {margin-top:25px;text-align: center;font-size:20px;padding:5px;color:red;background:#ccc;border:5px solid black;}

/*Table Odd Rows*/
.even       {background:#aaa;}

textarea {display:block;}


.footer{
height: 50px;
text-align:center;
}
