body {
    margin-top: 20px;
    background-color: #f5f5f5;
}

.footer{
    margin-top: 20px;
}

/*Global Tables*/
.table{
    border:1px solid black;
}
.table td{padding:12px}

/*Forms*/
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

form {padding: 30px;}
.table { 
  border-spacing:5px;
  border-collapse:collapse;
}


/*Navbar customization*/
.navbar .nav > li > a:hover {
    background:#08C;
    color:#fff;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    background:#08C;
    color:#fff;
}
/*Users Table
#users table {
    width:100%;
    border: 1px solid #B0;
}
#users th{
    text-align:center;
    background:#08c;
    color:white;
}
#users thead th {
    background: -moz-linear-gradient(top, #0088CC 0, #FFF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #08C), color-stop(100%, #8CD));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088CC', endColorstr='#FFF', GradientType=0);
    border: 1px solid #0088CC;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}
#users td {
padding: 10px;
}
#users tr:nth-child(even) {
background: #8CD;
}
*/
.even{
    background: #0be;
}